<!DOCTYPE html>
<html ng-app="DrNajeebUser">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Dr. Najeeb - User Panel</title>
    <!-- CSS Files -->

    <link href="~/Content/sitecontent/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="~/Content/sitecontent/css/libs/font-awesome.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/sitecontent/css/libs/nanoscroller.css" />
    <link rel="stylesheet" href="~/Content/sitecontent/css/libs/weather-icons.css" type="text/css" />


    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="~/Content/sitecontent/css/compiled/theme_styles.css" />
    <link href="~/Content/loading-bar.min.css" rel="stylesheet" />
    <link href="~/Content/toaster.min.css" rel="stylesheet" />
    <link href="~/Content/animate.min.css" rel="stylesheet" />
    <link href="~/Content/sitecontent/css/compiled/angular.css" rel="stylesheet" />

    <!-- Favicon -->
    <link type="image/x-icon" href="favicon.ico" rel="shortcut icon" />
    <!-- google font libraries -->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700,300' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <!-- End CSS Files-->
    @Scripts.Render("~/bundles/modernizr")

    <style type="text/css">
        .collapse-text-toggle {
            font-size: 0.9em;
            color: #666666;
            cursor: pointer;
        }

            .collapse-text-toggle:hover {
                color: #222222;
            }

            .collapse-text-toggle:before {
                content: '\00a0(';
            }

            .collapse-text-toggle:after {
                content: ')';
            }

        #live-search {
            position: absolute;
            top: 30%;
            left: 25%;
            right: 25%;
            text-align: center;
            vertical-align: middle;
        }

        /*Live Search styles start*/
        ul.searchresultspopup {
            border: #a4bed4 1px solid;
            margin-top: 0px;
            padding: 0px;
            z-index: 99999 !important;
            position: fixed;
            background-color: white;
            /*max-height:200px;*/
            border-collapse: separate;
            overflow-y: hidden;
        }

            ul.searchresultspopup > li {
                cursor: pointer;
                padding-left: 1px;
                text-align: left;
                list-style: none;
                line-height: 20px;
                list-style-image: none;
                list-style-position: outside;
                list-style-type: none;
                text-transform: lowercase;
            }

            ul.searchresultspopup li.selected, ul.searchresultspopup li:hover {
                background-color: #ededed;
            }

            ul.searchresultspopup b {
                color: blue;
            }

            ul.searchresultspopup strong {
                color: green;
            }
    </style>

</head>
<body class="theme-blue-gradient fixed-header fixed-leftmenu">

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script src="~/Scripts/js/jquery.nanoscroller.min.js"></script>

    <script src="~/Scripts/js/demo.js"></script> <!-- only for demo -->
    <!-- this page specific scripts -->
    <script src="~/Scripts/js/moment.min.js"></script>
    <script src="~/Scripts/js/flot/jquery.flot.min.js"></script>
    <script src="~/Scripts/js/flot/jquery.flot.resize.min.js"></script>
    <script src="~/Scripts/js/flot/jquery.flot.time.min.js"></script>
    <script src="~/Scripts/js/flot/jquery.flot.threshold.js"></script>
    <script src="~/Scripts/js/flot/jquery.flot.axislabels.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="~/signalr/hubs" type="text/javascript"></script>

    @*<script src="https://www.2checkout.com/static/checkout/javascript/direct.min.js"></script>*@

    <!-- theme scripts -->
    <script src="~/Scripts/js/scripts.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Scripts/loading-bar.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.js"></script>
    <script src="~/Scripts/angular-local-storage.js"></script>
    <script src="~/Scripts/toaster.min.js"></script>
    <script src="~/Scripts/angular-facebook.js"></script>
    <script src="~/Scripts/angular-google-plus.js"></script>
    <script src="~/Scripts/angular-file-upload.js"></script>
    <script src="~/Scripts/angular-auto-complete.js"></script>
    <script src="~/Scripts/angular-fix.js"></script>
    <script src="~/Scripts/angular-recaptcha.js"></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=vcRecaptchaApiLoaded&render=explicit" async defer></script>
    @*<script src="~/Scripts/jcs-auto-validate.js"></script>*@

    <script src="~/userapp/app.js"></script>

    <script src="~/userapp/directives/menuactivator.js"></script>
    <script src="~/userapp/directives/debug.js"></script>
    <script src="~/userapp/directives/searchBar.js"></script>
    <script src="~/userapp/directives/menuHider.js"></script>
    <script src="~/userapp/directives/messagesScroller.js"></script>
    <script src="~/userapp/directives/readMore.js"></script>
    <script src="~/userapp/directives/disqus.js"></script>

    <script src="~/userapp/services/LibraryService.js"></script>
    <script src="~/userapp/services/VideoService.js"></script>
    <script src="~/userapp/services/DashboardService.js"></script>
    <script src="~/userapp/services/CurrentUserService.js"></script>
    <script src="~/userapp/services/FormEncodeService.js"></script>
    <script src="~/userapp/services/OAuthService.js"></script>
    <script src="~/userapp/interceptors/interceptors.js"></script>
    <script src="~/userapp/services/SupportService.js"></script>
    <script src="~/userapp/services/CountryService.js"></script>
    <script src="~/userapp/services/NotificationsService.js"></script>
    <script src="~/userapp/services/PoolingService.js"></script>
    <script src="~/userapp/services/UsersService.js"></script>

    <script src="~/userapp/controllers/DashboardController.js"></script>
    <script src="~/userapp/controllers/LibraryController.js"></script>
    <script src="~/userapp/controllers/NewVideosController.js"></script>
    <script src="~/userapp/controllers/UserFavoritesController.js"></script>
    <script src="~/userapp/controllers/UserProfileController.js"></script>
    <script src="~/userapp/controllers/VideoController.js"></script>
    <script src="~/userapp/controllers/LoginController.js"></script>
    <script src="~/userapp/controllers/RegisterController.js"></script>
    <script src="~/userapp/controllers/ExternalRegisterController.js"></script>
    <script src="~/userapp/controllers/FrontEndController.js"></script>
    <script src="~/userapp/controllers/NotificationsController.js"></script>
    <script src="~/userapp/controllers/FreeVideosController.js"></script>
    <script src="~/userapp/controllers/PackagesController.js"></script>
    <script src="~/userapp/controllers/ForgotPasswordController.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
